<!-- MY PAYMENT INFORMATION AREA -->
{% set test = services.payment.getRecurringSetting() %}
<div class="row">
    <div class="col-md-6">
        <h4 class="{{ test }}">
            {{ trans('Payreto::Template.FRONTEND_MC_INFO') }}
        </h4>
        <div>
            <a href="/my-payment-information" class="btn btn-primary">{{ trans('Payreto::Template.FRONTEND_MC_INFO') }}</a>
        </div>
    </div>
</div>
<!-- ./MY PAYMENT INFORMATION AREA -->