
{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
	
    <div class="page-content checkout container-max">
		<div class="row">
    		<div>
	    		<label>Credit Card</label>
	    		<a href="/my-payment-information" class="btn btn-primary">
                    Add Account
                    <i aria-hidden="true" class="fa fa-plus-square"></i></a>
			</div>
		</div>
		<div class="row">
    		<div>
	    		<label>Direct Debit</label>
	    		<a href="/my-payment-information" class="btn btn-primary">
                    Add Account
                    <i aria-hidden="true" class="fa fa-plus-square"></i></a>
			</div>
		</div>
		<div class="row">
    		<div>
	    		<label>Paypal</label>
	    		<a href="/my-payment-information" class="btn btn-primary">
                    Add Account
                    <i aria-hidden="true" class="fa fa-plus-square"></i></a>
			</div>
		</div>
    </div>

{% endblock %}