
{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
	
    <div class="page-content checkout container-max">
    	<div class="row m-b-3">
    		<div class="col-sm-9">
    			<h1 class="h2">My Payment Information</h1>
            </div> 
        	<div class="col-xs-12"><hr></div>
        </div>
        {{ accountArray }}
		<div class="row">
    		<div class="col-sm-12">
	    		<h4>Credit Card</h4>
	    		{% include "Payreto::Information.CreditCard" with { InformationData: CreditCard } %}
		</div>
		<div class="row">
    		<div class="col-sm-12">
	    		<h4>Direct Debit</h4>
	    		{% include "Payreto::Information.DirectDebit" with { InformationData: DirectDebit } %}
			</div>
		</div>
		<div class="row">
    		<div class="col-sm-12">
	    		<h4>Paypal</h4>
	    		{% include "Payreto::Information.Paypal" with { InformationData: Paypal } %}
			</div>
		</div>
    </div>

{% endblock %}